<div class="swiper-container" data-controller="swiper">
  <div class="swiper-wrapper">

    <%# COVER CARD to swiper right%>
    <div class="swiper-slide">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Welcome to your wordbank</h5>
        </div>
      </div>
    </div>

    <% @vocabs.each do |vocab| %>
      <div class="swiper-slide" data-vocab-id="<%= vocab.flashcard_words.first.id %>">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= vocab.word %></h5>
            <p class="card-text"><em><%= vocab.part_of_speech %></em></p>
            <p class="card-text"><strong>definition:</strong>
              <%= vocab.definition %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
